@{
  ViewData["Title"] = "Home Page";
}




<body>

  <main>

    <div class="container">
      <!---->
      <section id="destaques" class="row">
        <div id="menor1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <!---->

          


          
          <img src="http://localhost:5000/images/Home/frente_loja.PNG" alt="frente_loja" title="frente_loja" class="img-fluid" width="100%">

          
          


        </div>

      </section>
    </div>

    <section>
      <a href="#"></a> <br>




    </section>
  </main>

</body>
