@{
    ViewData["Title"] = "Novidades";
}



<body>

  <main>
    
    <h2> Lançamentos/Novidades</h2>

      <a href="#"><img src="http://localhost:5000/images/Novidades/troca_oleo.jpg" height="300" widht="300" alt="Troca óleo" title="Troca Óleo"></a> <br>
      <h4>Troca de óleo grátis</h4> <br>
      <h4>Na compra do óleo troca grátis, feito a vácuo (sucção) </h4><br>
            


    </section>
  </main>

</body>


