@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Ao navegar no site estaá concordando com o uso de cookies</p>

<p>LGPD</p>
<p>http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm</p>
